@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';
.startPage {
  display: flex;
  padding: 20px;
  .startImage {
    flex: 2;
  }
  .signForm {
    flex: 1;
  }
}
