@import '../../styles/variables.scss';
.formContainer {
  padding: 10px;
  .form {
    button {
      width: 200px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid $main-bg;
      color: $main-bg;
      font-weight: 700;
      &:hover {
        background-color: $main-bg;
        color: white;
      }
    }
  }
  .signupOption {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: black;
    h6 {
      padding: 20px;
    }
    button {
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid $main-bg;
      color: $main-bg;
      font-weight: 700;
      &:hover {
        background-color: $main-bg;
        color: white;
      }
    }
  }
}
