// @import './variables.scss';
// @import './responsive.scss';
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// a {
//   text-decoration: none;
//   color: inherit;
// }
// .mainSection {
//   color: $main-color;
//   min-width: 1200px;
// }
// .midSection {
//   display: flex;
//   padding-top: 60px;
// }
// .menuSection {
//   width: 250px;
//   padding: 5px 20px;
//   border-right: 2px solid $dark-accent;
//   @include lg {
//     width: max-content;
//   }
// }
// .contentSection {
//   padding: 5px 20px;
//   display: flex;
//   width: 100%;
//   justify-content: center;
// }
// .tableContainer {
//   height: 510px;
// }
@import './variables.scss';
@import './responsive.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.midSection {
  display: flex;
  height: calc(100vh - 116.1px);
}
.menuSection {
  width: 250px;
  padding: 5px 20px;
  margin: 10px;
  border-right: 2px solid $dark-accent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.473);
  color: rgb(26, 44, 40);
  @include lg {
    width: max-content;
  }
}
.contentSection {
  padding: 5px 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.css-1zts0j {
  text-align: center !important;
}
.css-xumdn4 {
  text-transform: capitalize !important;
}
header,
.header {
  background-color: $rad-grad;
  border: 5px;
}
.headerNav {
  background: rgb(103, 193, 174);
  background: linear-gradient(
    90deg,
    rgb(151, 223, 208) 0%,
    rgba(204, 231, 225, 1) 93%
  );
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 $deep-bg, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}
.headerMod {
  background: $rad-grad;
}
.page {
  width: 100%;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  .pageContainer {
    display: flex;
    .prev {
      width: 60px;
      height: 38px;
      padding: 6px 12px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #fff;
    }
    .pages {
      width: 33px;
      height: 38px;
      padding: 6px 12px;
      background-color: #fff;
    }
    .next {
      width: 60px;
      height: 38px;
      padding: 6px 12px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #fff;
    }
  }
}

.activePage {
  border: 2px solid rgb(26, 44, 40);
  width: 33px;
  height: 38px;
  padding: 6px 12px;
  background-color: #fff;
}
