$main-bg: rgb(26, 115, 96);
$soft-bg: rgb(47, 137, 118);
$dark-bg: rgb(26, 44, 40);
$main-color: rgb(231, 226, 212);
$soft-color: rgb(200, 212, 209);
$dark-color: rgb(84, 87, 86);
$soft-accent: rgb(203, 193, 110);
$dark-accent: rgb(183, 167, 19);
