@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';
.menuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    .menuTitle {
      font-size: 16px;
      font-family: 'Righteous', cursive;
      //color: rgb(231, 226, 212);
      font-size: 16px;
      //color: $soft-color;
      @include lg {
        display: none;
      }
    }
    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      border-radius: 5px;
      // &:hover {
      //   background-color: rgb(47, 137, 118);
      // }
      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}
